<% layout('boilerplate/boilerplate.ejs') %>
<body>
    <div class="content">
        <h1 class="title">Easily Draft, Structure & File Your RTI – Your Right, Simplified!
        </h1></div>
            <form action="/data/departmentLocation" method="post">
            <div class="inputHandle container mb-3">
                <div class="inputField "><input type="text" name="departmentName" placeholder="Enter Your Department: "></div>
                <div class="inputField "><input type="text" name="location" placeholder="Enter location: "></div>
            <button class="btn btn-outline-dark nextBtn">Next</button></div>
            </form>
        
</body>

