<% layout('boilerplate/boilerplate.ejs') %>
<body>

    <div id="main">
        <div id="circle">
            <img src="/image/photo.jpg" alt="RTI Image" id="circle-image">
            <div class="stripe str1">
                <div class="first">
                    <!--   <div class="smcircle"></div> -->
                </div>
                <div class="second">
                    <h4>Informtion</h4>
                </div>
            </div>
            <div class="stripe str2">
                <div class="first">
                    <!--   <div class="smcircle"></div> -->
                </div>
                <div class="second">
                    <h4>Education</h4>
                </div>
            </div>
            <div class="stripe str3">
                <div class="first">
                    <!--   <div class="smcircle"></div> -->
                </div>
                <div class="second">
                    <h4>Development</h4>
                </div>
            </div>
            <div class="stripe str4">
                <div class="first">
                    <!--   <div class="smcircle"></div> -->
                </div>
                <div class="second">
                    <h4>Right</h4>
                </div>
            </div>
            <div class="stripe str5">
                <div class="first">
                    <!--   <div class="smcircle"></div> -->
                </div>
                <div class="second">
                    <h4>Legal</h4>
                </div>
            </div>
            <div class="stripe str6">
                <div class="first">
                 <!--   <div class="smcircle"></div> -->
                </div>
                <div class="second">
                    <h4>RTI</h4>
                </div>
            </div>
            <div class="stripe str7">
                <div class="first">
                    <!--   <div class="smcircle"></div> -->
                </div>
                <div class="second">
                    <h4>Informtion</h4>
                </div>
            </div>
            <div class="stripe str8">
                <div class="first">
                    <!--   <div class="smcircle"></div> -->
                </div>
                <div class="second">
                    <h4>Education</h4>
                </div>
            </div>
            <div class="stripe str9">
                <div class="first">
                    <!--   <div class="smcircle"></div> -->
                </div>
                <div class="second">
                    <h4>Development</h4>
                </div>
            </div>
            <div class="stripe str10">
                <div class="first">
                    <!--   <div class="smcircle"></div> -->
                </div>
                <div class="second">
                    <h4>Right</h4>
                </div>
            </div>
            <div class="stripe str11">
                <div class="first">
                    <!--   <div class="smcircle"></div> -->
                </div>
                <div class="second">
                    <h4>Legal</h4>
                </div>
            </div>
            <div class="stripe str12">
                <div class="first">
                 <!--   <div class="smcircle"></div> -->
                </div>
                <div class="second">
                    <h4>RTI</h4>
                </div>
            </div>
            <div class="stripe str13">
                <div class="first">
                    <!--   <div class="smcircle"></div> -->
                </div>
                <div class="second">
                    <h4>Informtion</h4>
                </div>
            </div>
            <div class="stripe str14">
                <div class="first">
                    <!--   <div class="smcircle"></div> -->
                </div>
                <div class="second">
                    <h4>Education</h4>
                </div>
            </div>
            <div class="stripe str15">
                <div class="first">
                    <!--   <div class="smcircle"></div> -->
                </div>
                <div class="second">
                    <h4>Development</h4>
                </div>
            </div>
            <div class="stripe str16">
                <div class="first">
                    <!--   <div class="smcircle"></div> -->
                </div>
                <div class="second">
                    <h4>Right</h4>
                </div>
            </div>
            <div class="stripe str17">
                <div class="first">
                    <!--   <div class="smcircle"></div> -->
                </div>
                <div class="second">
                    <h4>Legal</h4>
                </div>
            </div>
            <div class="stripe str18">
                <div class="first">
                 <!--   <div class="smcircle"></div> -->
                </div>
                <div class="second">
                    <h4>RTI</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <h1 class="title">Easily Draft, Structure & File Your RTI – Your Right, Simplified!
        </h1></div>
            <form action="/data/nameAddress" method="post">
            <div class="inputHandle container mb-3">
                <div class="inputField "><input type="text" name="name" placeholder="Enter Your name: "></div>
                <div class="inputField "><input type="text" name="address" placeholder="Enter Your address: "></div>
               <button class="btn btn-outline-dark nextBtn">Next</button></div>
            </form>
    
        
</body>
