<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./Stylesheets/homestyle.css">
    <title>Document</title>
</head>
<body>
    <div id="main">
        <div id="circle">
            <img src="./Screenshot 2025-03-27 160208.png" alt="RTI Image" id="circle-image">
            <div class="stripe str1">
                <div class="first">
                    <!--   <div class="smcircle"></div> -->
                </div>
                <div class="second">
                    <h4>Informtion</h4>
                </div>
            </div>
            <div class="stripe str2">
                <div class="first">
                    <!--   <div class="smcircle"></div> -->
                </div>
                <div class="second">
                    <h4>Education</h4>
                </div>
            </div>
            <div class="stripe str3">
                <div class="first">
                    <!--   <div class="smcircle"></div> -->
                </div>
                <div class="second">
                    <h4>Development</h4>
                </div>
            </div>
            <div class="stripe str4">
                <div class="first">
                    <!--   <div class="smcircle"></div> -->
                </div>
                <div class="second">
                    <h4>Right</h4>
                </div>
            </div>
            <div class="stripe str5">
                <div class="first">
                    <!--   <div class="smcircle"></div> -->
                </div>
                <div class="second">
                    <h4>Legal</h4>
                </div>
            </div>
            <div class="stripe str6">
                <div class="first">
                 <!--   <div class="smcircle"></div> -->
                </div>
                <div class="second">
                    <h4>RTI</h4>
                </div>
            </div>
            <div class="stripe str7">
                <div class="first">
                    <!--   <div class="smcircle"></div> -->
                </div>
                <div class="second">
                    <h4>Informtion</h4>
                </div>
            </div>
            <div class="stripe str8">
                <div class="first">
                    <!--   <div class="smcircle"></div> -->
                </div>
                <div class="second">
                    <h4>Education</h4>
                </div>
            </div>
            <div class="stripe str9">
                <div class="first">
                    <!--   <div class="smcircle"></div> -->
                </div>
                <div class="second">
                    <h4>Development</h4>
                </div>
            </div>
            <div class="stripe str10">
                <div class="first">
                    <!--   <div class="smcircle"></div> -->
                </div>
                <div class="second">
                    <h4>Right</h4>
                </div>
            </div>
            <div class="stripe str11">
                <div class="first">
                    <!--   <div class="smcircle"></div> -->
                </div>
                <div class="second">
                    <h4>Legal</h4>
                </div>
            </div>
            <div class="stripe str12">
                <div class="first">
                 <!--   <div class="smcircle"></div> -->
                </div>
                <div class="second">
                    <h4>RTI</h4>
                </div>
            </div>
            <div class="stripe str13">
                <div class="first">
                    <!--   <div class="smcircle"></div> -->
                </div>
                <div class="second">
                    <h4>Informtion</h4>
                </div>
            </div>
            <div class="stripe str14">
                <div class="first">
                    <!--   <div class="smcircle"></div> -->
                </div>
                <div class="second">
                    <h4>Education</h4>
                </div>
            </div>
            <div class="stripe str15">
                <div class="first">
                    <!--   <div class="smcircle"></div> -->
                </div>
                <div class="second">
                    <h4>Development</h4>
                </div>
            </div>
            <div class="stripe str16">
                <div class="first">
                    <!--   <div class="smcircle"></div> -->
                </div>
                <div class="second">
                    <h4>Right</h4>
                </div>
            </div>
            <div class="stripe str17">
                <div class="first">
                    <!--   <div class="smcircle"></div> -->
                </div>
                <div class="second">
                    <h4>Legal</h4>
                </div>
            </div>
            <div class="stripe str18">
                <div class="first">
                 <!--   <div class="smcircle"></div> -->
                </div>
                <div class="second">
                    <h4>RTI</h4>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.7/gsap.min.js" integrity="sha512-f6bQMg6nkSRw/xfHw5BCbISe/dJjXrVGfz9BSDwhZtiErHwk7ifbmBEtF9vFW8UNIQPhV2uEFVyI/UHob9r7Cw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./Stylesheets/homesrc.js"></script>
</body>
</html>